!!!
%html
  %head
    %title transio.us | docs
    %link(rel="stylesheet" href="styles/normalize.css")
    %link(rel="stylesheet" href="styles/main.css")
    %link(rel="stylesheet" href="styles/font-awesome.min.css")

  %body
    .container
      %nav.primary-nav
        %h1.padded= haml :_branding
        %ul
          - @rpcs.each do |rpc|
            %li
              %a{href: "##{rpc['id']}"}
                = rpc['name']


      .protocol
        - @rpcs.each do |rpc|
          = haml :rpc, locals: { rpc: rpc }



  %script(src="js/jquery.js")
  :javascript
    $('.proto-action').each(function() {
      $(this).find('.proto-sample').first().toggleClass("visible");
    });

    $('input[type=radio]').change(function() {
      $(this).closest('.proto-action').find(".proto-sample.visible").toggleClass("visible", false);
      $('[id="'+$(this).data('content-target')+'"]').toggleClass("visible", $(this).checked);
    });
