@import "_variables.scss";

nav.primary-nav {
  background-color: $nav-bg-color;
  height: 49px;
  width: 100%;
  border-bottom: $nav-border;
  line-height: 1;

  .title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 16px;
    // margin-right: 16px;
  }

  $nav-typeahead-width: 16em;
  $nav-height: 48px;

  .topic-select {
    display: inline-block;
    position: absolute;
    width: $nav-typeahead-width;
    height: $nav-height;
    padding: 8px 16px;
    font-size: 16px;
    border-left: $nav-border;
    border-right: $nav-border;

    &:hover {
      background-color: $nav-hover-color;
    }


    .proxy {
      position: absolute;
      margin-top: 10px;
      width: 100%;


      &:after {
        position: absolute;
        right: 32px;
        font-family: FontAwesome;
        color: $dark-gray;
        content: '\f0d7';
      }
    }

    select {
      width: 100%;
      height: $nav-height;
      margin-top: -8px;
      margin-left: -8px;
      width: $nav-typeahead-width;
      background-color: inherit;
      border: none;
      cursor: pointer;
      opacity: 0;

      &:focus { outline: none; }
    }
  }

  .padded {
    padding: 0 $box-padding;
  }
}
