@import "_variables.scss";

section.topic {
  display: flex;
  width: 100%;

  &:first-child { border-top: none; }

  .topic-description {
    width: 45%;
    padding: $box-padding*2 $box-padding;
    border-top: $highlight-border;

    code {
      background-color: $offwhite;
      padding: 1px 4px;
      border-radius: $border-radius-sm;
      font-size: $font-size-sm;
    }

    .title {
      font-family: $font-family-mono;
      font-size: $font-size-hd;
    }

    .metabar {
      background-color: $highlight-color;
      font-size: $font-size-sm;
      border-radius: $border-radius;
      display: flex;

      .meta-element {
        border-right: $highlight-border;
        flex: 1 0 auto;
        text-align: center;
        padding: $text-padding-v $text-padding-h;

        &:last-child { border: none; }

        &.link {
          flex: 0 0 40px;
        }

        .key {
          color: $muted-color;
          margin-right: 4px;

          &:after { content: ':'; }
        }

        .value {
          font-weight: bold;
        }
      }
    }

    .callspec {
      font-size: $font-size-sm;
    }

    .description {

    }

    .parameters {
      width: 100%;
      background-color: $highlight-color;
      border-radius: $border-radius;

      td, th {
        text-align: left;
        padding: $box-padding/2 $box-padding;
        vertical-align: baseline;
      }

      thead {
        border-bottom: $highlight-border;
      }

      .name {
        font-family: $font-family-mono;
      }

      .type {
        color: $muted-color;

        .optional {
          font-weight: 300;
          font-size: $font-size-sm;
        }
      }
    }
  }


  .topic-samples {
    width: 55%;
    padding: $box-padding*2 $box-padding;
    background-color: $bg-color-dark;
    color: $lightest-gray;
    overflow-x: scroll;
    border-top: $dark-border;

    pre {
      padding: 0;
      margin: 0;
      display: inline-block;
      white-space: pre-wrap;

      code {
        background-color: inherit;
        display: block;
      }
    }
  }
}
