// Colors
$default:       #fff;
$gray:          #556f77;
$dark-gray:     darken($gray, 10%);
$darker-gray:   darken($gray, 20%);
$darkest-gray:  darken($gray, 25%);
$light-gray:    lighten($gray, 10%);
$lighter-gray:  lighten($gray, 20%);
$lightest-gray: lighten($gray, 25%);

$white:         lighten($gray, 59%);
$offwhite:      darken($white, 2%);

$yellow:        #b58900;
$orange:        #cb4b16;
$red:           #dc322f;
$magenta:       #d33682;
$violet:        #6c71c4;
$blue:          #268bd2;
$cyan:          #2aa198;
$green:         #859900;

// Text colors
$text-color:        $darker-gray;
$muted-color:       $lighter-gray;
$text-color-white:  $lightest-gray;

// Backgrounds
$bg-color:                $white;
$bg-color-dark:           $darkest-gray;
$highlight-color:         $offwhite;


// Borders
$highlight-border:        1px solid darken($offwhite, 5%);
$dark-border:             1px solid $dark-gray;
$border-radius:           4px;
$border-radius-sm:        2px;


// Spacing
$box-padding:       20px;
$text-padding-h:    12px;
$text-padding-v:    4px;


// Fonts and sizes
$font-family:       'Museo Sans Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI';
$font-family-mono:  'Roboto Mono', monospace;
$font-size:         14px;
$font-size-sm:      $font-size*0.8;
$font-size-lg:      $font-size*1.4;
$font-size-hd:      $font-size*1.8;
$line-height:       1.8;


// Navigation
$nav-width:         240px;
$nav-bg-color:      $highlight-color;
$nav-hover-color:   darken($nav-bg-color, 5%);
