$private-color:     #c58285;
$public-color:      #a3b788;

$nav-width:         240px;

$box-padding:       20px;
$text-padding-h:    12px;
$text-padding-v:    4px;

$font-family:       'Museo Sans Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI';
$font-family-mono:  'Roboto Mono', monospace;
$font-size:         14px;
$font-size-sm:      $font-size*0.8;
$font-size-lg:      $font-size*1.4;
$font-size-hd:      $font-size*1.8;
$line-height:       1.8;


$text-color:        #333;
$muted-color:       #aaa;
$text-color-white:  #f7f7f7;

$bg-color:          #ffffff;
$bg-color-dark:     #171d1f;
$highlight-color:   #e7e7e7;
$offwhite-bg-color: #f7f7f7;
