$private-color: #c58285;
$public-color:  #a3b788;

$nav-width: 230px;

body {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
  font-size: 12px;
  line-height: 1.5;
}

pre {
  padding: 0;
  margin: 0;

  code {
    background-color: inherit;
    display: block;
    padding: 12px 12px;
    font-size: 12px;
    overflow: scroll;
    max-height: 400px;
  }
}

code {
  background-color: #f2f2f2;
  padding: 1px 4px;
  border-radius: 2px;
}

a {
  text-decoration: none;

  &:hover { text-decoration: underline; }
}


.container {
  display: flex;
  width: 940px;
  margin: auto;
}

.nav {
  width: $nav-width;
  position: fixed;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 2px 12px;
    font-family: monospace;
    font-size: 14px;
    list-style-type: none;

    &:hover   { background-color: #f7f7f7; }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.protocol {
  min-width: 660px;
  margin-left: $nav-width + 12px;
  padding-right: 5px;
}


.proto-action {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;

}


.proto-title {
  padding: 4px 12px;
  margin: 0;
  background-color: #aaa;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  .proto-meta {
    margin: 2px 0;
    font-size: 10px;

    .proto-meta-record {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-right: 12px;

      .proto-meta-record-key    { font-weight: 200; }
      .proto-meta-record-value  { font-weight: 600; }
    }
  }

  .proto-links {
    float: right;
    font-size: 16px;

    a {
      color: inherit;

      &:hover { text-shadow: 0px 0px 4px rgba(0,0,0,0.2); }
    }
  }
}

@mixin accessibility-coloring($color) {
  &.proto-action {
    border: 1px solid $color;
  }

  .proto-title {
    background-color: $color;
  }
}

.private  { @include accessibility-coloring($private-color);  }
.public   { @include accessibility-coloring($public-color);   }


.proto-call-spec {
  padding: 4px 12px;
  font-size: 10px;
  background-color: #eee;

  pre { overflow: hidden; }
}


.proto-description {
  padding: 0 12px;

  p + ul {
    margin-top: -8px;
  }
}


.proto-samples {
  position: relative;
  background-color: #eee;

  .proto-sample-select {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;

    label {
      display: inline-block;
      text-align: center;
      flex-grow: 1;
      padding: 6px 12px;
      background-color: #ccc;
      cursor: pointer;
    }

    input[type=radio]:checked + label {
      background-color: #eee;
    }
  }

  .proto-sample {
    display: none;

    &.visible {
      display: flex;
    }

    .proto-sample-content {
      width: 100%;

      .request {
        width: 100%;
      }

      .response {
        background-color: #333;
        color: #fff;
        width: 100%;
        overflow: scroll;
      }
    }
  }
}


input[type=radio] {
  display: none;
}

input[type=radio] + label {
  font-weight: bold;
  text-align: center;
  display: block;
}
