html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 14px;
  line-height: 1.8; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin-top: 2em; }

h1 {
  font-size: 25.2px;
  margin-top: 0px; }

h2 {
  font-size: 20.16px;
  margin-top: 0px; }

h3 {
  font-size: 15.12px;
  margin-top: 0px; }

h4 {
  font-size: 10.08px;
  margin-top: 0px; }

.container {
  width: 100%; }

.primary-nav {
  position: fixed;
  width: 240px;
  padding: 20px 0; }

.protocol {
  margin-left: 240px; }

section.topic {
  display: flex;
  width: 100%;
  border-top: 1px solid #eee; }
  section.topic:first-child {
    border-top: none; }
  section.topic .topic-description {
    width: 45%;
    padding: 40px 20px; }
    section.topic .topic-description code {
      background-color: #f2f2f2;
      padding: 1px 4px;
      border-radius: 2px; }
    section.topic .topic-description .title {
      font-family: monospace;
      font-size: 25.2px; }
    section.topic .topic-description .meta {
      font-size: 11.2px; }
  section.topic .topic-samples {
    width: 55%;
    padding: 40px 0;
    background-color: #171d1f;
    color: #f7f7f7;
    overflow-x: scroll; }
    section.topic .topic-samples pre {
      padding: 0;
      margin: 0;
      display: inline-block; }
      section.topic .topic-samples pre code {
        background-color: inherit;
        display: block;
        padding: 20px; }

nav.primary-nav {
  background-color: #f7f7f7;
  height: 100vh; }
  nav.primary-nav ul {
    margin: 0;
    padding: 0; }
  nav.primary-nav li {
    padding: 4px 20px;
    font-family: monospace;
    font-size: 14px;
    list-style-type: none; }
    nav.primary-nav li:hover {
      background-color: #eee; }
    nav.primary-nav li a {
      color: inherit;
      text-decoration: none; }
  nav.primary-nav .padded {
    padding: 0 20px; }
